body {
  font-family: arial;
  text-align: center;
  margin-top: 50px;
}

input, button {
    padding: 10px;
    margin: 10px;
    font-size: 16px;
}

#result {
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
}

button:hover {
    background-color: black;
    color: white;
    cursor: pointer;
    transition: 0.3s;

}